doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/materialize.min.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    
    block content
        
    //- script
    script(src="/js/jquery-1.11.1.min.js")
    script(src="/js/materialize.min.js")
    script(src="/js/index.js")
