doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    
    block content
        
    //- script
    script(src="/javascripts/jquery-1.11.1.min.js")
    script(src="/javascripts/materialize.min.js")
    script(src="/javascripts/index.js")
