extends layout

block content
    header
        .navbar-fixed
            nav.white
                .nav-wrapper
                    .container
                        a.grey-text.text-darken-4.sidenav-trigger.hide-on-large-only(href="#", data-target="nav-mobile", onclick="sidenavinstance.open()")
                            i.material-icons.button-collapse menu

                        a.brand-logo(href="/")
                            img(src="/images/logos/black-transparent-nav.png")
                        ul#nav-mobile.right.hide-on-med-and-down
                            li
                                a.grey-text.text-darken-4(href="/") Home
                            li
                                a.grey-text.text-darken-4(href="/projects") Projects
                            li
                                a.grey-text.text-darken-4(href="/about") About
                            li
                                a.grey-text.text-darken-4(href="/shop") Shop
                            li
                                a.grey-text.text-darken-4(href="/contact") Contact

        ul#nav-mobile.sidenav
            li
                a(href="/") Home
            li
                a(href="/projects") Projects
            li
                a(href="/about") About
            li
                a(href="/shop") Shop
            li
                a(href="/contact") Contact

        // script(src="/js/menu.js")

    h1 sahil
